In [1]:
import pandas as pd
import numpy as np

# **Read CSV & store it in Dataframe**

In [2]:
df = pd.read_csv('H2HBABBA1361.csv')

# **Shape of the Dataframe**

In [3]:
df.shape

(50000, 19)

# **Display First 5 Rows of Dataframe**

In [4]:
df.head(5)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200040366,RASTEL co,2019-05-17 00:00:00,2019.0,1.929212e+09,2019-05-01,20190426,20190501,20190516.0,USD,RV,1.0,NaN,2160.31,20190501.0,NAA8,1.929212e+09,0
1,U001,0200707822,PUBLI us,2019-09-18 00:00:00,2019.0,1.929821e+09,2019-09-03,20190903,20190903,20190918.0,USD,RV,1.0,NaN,111586.61,20190903.0,NAA8,1.929821e+09,0
2,CA02,0140104409,LOB co,2019-11-22 00:00:00,2019.0,2.960593e+09,2019-11-11,20191111,20191111,20191121.0,CAD,RV,1.0,NaN,65153.44,20191111.0,CA10,2.960593e+09,0
3,U001,200390794,CASH-W corporation,NaN,2020.0,1.930867e+09,2020-05-06,20200506,20200506,20200521.0,USD,RV,1.0,NaN,21634.82,20200506.0,NAA8,1.930867e+09,1
4,U001,0200418007,AM corporation,NaN,2020.0,1.930805e+09,2020-04-22,20200420,20200422,20200626.0,USD,RV,1.0,NaN,31.56,20200422.0,NAGD,1.930805e+09,1

# **Display Last 5 Rows of Dataframe**

In [5]:
df.tail(5)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
49995,U001,0200875006,KROGER associates,2019-04-26 00:00:00,2019.0,1.929136e+09,2019-04-11,20190412,20190411,20190426.0,USD,RV,1.0,NaN,184407.56,20190411.0,NAA8,1.929136e+09,0
49996,U001,0200769623,WAL-MAR foundation,2019-11-04 00:00:00,2019.0,1.930037e+09,2019-10-24,20191021,20191024,20191108.0,USD,RV,1.0,NaN,16175.40,20191024.0,NAH4,1.930037e+09,0
49997,U001,0200769623,WAL-MAR llc,NaN,2020.0,1.930802e+09,2020-04-21,20200420,20200421,20200506.0,USD,RV,1.0,NaN,54791.03,20200421.0,NAH4,1.930802e+09,1
49998,U001,0200759878,SA co,2019-03-11 00:00:00,2019.0,1.928845e+09,2019-02-23,20190222,20190223,20190310.0,USD,RV,1.0,NaN,73799.96,20190223.0,NAH4,1.928845e+09,0
49999,U001,0200865666,RESTAU corp,2019-03-20 00:00:00,2019.0,1.928907e+09,2019-03-05,20190305,20190305,20190320.0,USD,RV,1.0,NaN,11895.36,20190305.0,NAA8,1.928907e+09,0

# **Statistics**

In [6]:
df.describe()

,buisness_year,doc_id,document_create_date,document_create_date.1,due_in_date,posting_id,area_business,total_open_amount,baseline_create_date,invoice_id,isOpen
count,50000.000000,5.000000e+04,5.000000e+04,5.000000e+04,5.000000e+04,50000.0,0.0,5.000000e+04,5.000000e+04,4.999500e+04,50000.000000
mean,2019.304320,2.008873e+09,2.019350e+07,2.019353e+07,2.019367e+07,1.0,NaN,3.243631e+04,2.019353e+07,2.008124e+09,0.200000
std,0.460123,2.816167e+08,4.491489e+03,4.477061e+03,4.463724e+03,0.0,NaN,4.026165e+04,4.478179e+03,2.714829e+08,0.400004
min,2019.000000,1.928502e+09,2.018123e+07,2.018123e+07,2.018032e+07,1.0,NaN,2.700000e-01,2.018031e+07,1.928502e+09,0.000000
25%,2019.000000,1.929341e+09,2.019051e+07,2.019051e+07,2.019052e+07,1.0,NaN,4.871745e+03,2.019051e+07,1.929341e+09,0.000000
50%,2019.000000,1.929974e+09,2.019091e+07,2.019091e+07,2.019093e+07,1.0,NaN,1.763928e+04,2.019091e+07,1.929974e+09,0.000000
75%,2020.000000,1.930617e+09,2.020013e+07,2.020013e+07,2.020022e+07,1.0,NaN,4.704053e+04,2.020013e+07,1.930617e+09,0.000000
max,2020.000000,9.500000e+09,2.020052e+07,2.020052e+07,2.020071e+07,1.0,NaN,1.501474e+06,2.020052e+07,2.960636e+09,1.000000

# **Checking for Non-Null Values**

In [7]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49995 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

# **Number of NULL Values**

In [8]:
df.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             50000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    5
isOpen                        0
dtype: int64

# **Dropping columns with ALL NULL values**

In [9]:
df.dropna(how='all', axis=1, inplace=True)

In [10]:
df.shape
#Dropped area_business

(50000, 18)

# **Drop the Rows who have invoice_id as NULL**

In [11]:
df.dropna(subset=['invoice_id'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [12]:
df.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    0
isOpen                        0
dtype: int64

In [13]:
df["isOpen"].value_counts()

0    39995
1    10000
Name: isOpen, dtype: int64

# **Checking for Unique Values in Each Column**

In [14]:
n = df.nunique(axis=0)
print(n)

business_code                 6
cust_number                1431
name_customer              4190
clear_date                  400
buisness_year                 2
doc_id                    48760
posting_date                502
document_create_date        505
document_create_date.1      502
due_in_date                 550
invoice_currency              2
document type                 1
posting_id                    1
total_open_amount         44252
baseline_create_date        507
cust_payment_terms           70
invoice_id                48760
isOpen                        2
dtype: int64

# **As there is only 1 unique value in document type and posting_id so we can drop these**

In [15]:
df.drop(['document type', 'posting_id'], axis = 1, inplace=True)

In [16]:
for col in df.columns:
    print(col)

business_code
cust_number
name_customer
clear_date
buisness_year
doc_id
posting_date
document_create_date
document_create_date.1
due_in_date
invoice_currency
total_open_amount
baseline_create_date
cust_payment_terms
invoice_id
isOpen

# **Searching for Duplicate Columns**

In [17]:
duplicate = []
for i in range (df.shape[1]):
    col = df.iloc[:,i]
    for j in range (i+1, df.shape[1]):
        othercol = df.iloc[:,j]
        if(col.equals(othercol)):
            duplicate.append(df.columns[i]);
print(duplicate)

['doc_id']

In [18]:
df.drop(duplicate, axis = 1, inplace=True)

In [19]:
for col in df.columns:
    print(col)

business_code
cust_number
name_customer
clear_date
buisness_year
posting_date
document_create_date
document_create_date.1
due_in_date
invoice_currency
total_open_amount
baseline_create_date
cust_payment_terms
invoice_id
isOpen

# **Date-Time Conversion**

In [20]:
df['document_create_date']=pd.to_datetime(df['document_create_date'],format='%Y%m%d')
df['document_create_date'].head(5)

0   2019-04-26
1   2019-09-03
2   2019-11-11
3   2020-05-06
4   2020-04-20
Name: document_create_date, dtype: datetime64[ns]

In [21]:
df['document_create_date.1']=pd.to_datetime(df['document_create_date.1'],format='%Y%m%d')
df['document_create_date.1'].head(5)

0   2019-05-01
1   2019-09-03
2   2019-11-11
3   2020-05-06
4   2020-04-22
Name: document_create_date.1, dtype: datetime64[ns]

In [22]:
df['due_in_date']=pd.to_datetime(df['due_in_date'],format='%Y%m%d')
df['due_in_date'].head()

0   2019-05-16
1   2019-09-18
2   2019-11-21
3   2020-05-21
4   2020-06-26
Name: due_in_date, dtype: datetime64[ns]

In [23]:
df['baseline_create_date']=pd.to_datetime(df['baseline_create_date'],format='%Y%m%d')
df['baseline_create_date'].head()

0   2019-05-01
1   2019-09-03
2   2019-11-11
3   2020-05-06
4   2020-04-22
Name: baseline_create_date, dtype: datetime64[ns]

In [24]:
df['clear_date']=pd.to_datetime(df['clear_date'],format='%Y-%m-%d %H:%M:%S')
df['clear_date'].head()

0   2019-05-17
1   2019-09-18
2   2019-11-22
3          NaT
4          NaT
Name: clear_date, dtype: datetime64[ns]

In [25]:
df['posting_date']=pd.to_datetime(df['posting_date'],format='%Y-%m-%d')
df['posting_date'].head()

0   2019-05-01
1   2019-09-03
2   2019-11-11
3   2020-05-06
4   2020-04-22
Name: posting_date, dtype: datetime64[ns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49995 entries, 0 to 49994
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           49995 non-null  object
 1   cust_number             49995 non-null  object
 2   name_customer           49995 non-null  object
 3   clear_date              39995 non-null  datetime64[ns]
 4   buisness_year           49995 non-null  float64
 5   posting_date            49995 non-null  datetime64[ns]
 6   document_create_date    49995 non-null  datetime64[ns]
 7   document_create_date.1  49995 non-null  datetime64[ns]
 8   due_in_date             49995 non-null  datetime64[ns]
 9   invoice_currency        49995 non-null  object
 10  total_open_amount       49995 non-null  float64
 11  baseline_create_date    49995 non-null  datetime64[ns]
 12  cust_payment_terms      49995 non-null  object
 13  invoice_id              49995 non-null  float64
 14  isOpen                  49995 non-null  int64
dtypes: datetime64[ns](6), float64(3), int64(1), object(5)
memory usage: 5.7+ MB

# **Again Checking for Duplicate Columns**

In [27]:
duplicate = []
for x in range (df.shape[1]):
    col = df.iloc[:,x]
    for y in range (x+1, df.shape[1]):
        othercol = df.iloc[:,y]
        if(col.equals(othercol)):
            duplicate.append(df.columns[x]);
print(duplicate)

['posting_date']

In [28]:
df.drop(duplicate, axis = 1, inplace=True)

In [29]:
for col in df.columns:
    print(col)

business_code
cust_number
name_customer
clear_date
buisness_year
document_create_date
document_create_date.1
due_in_date
invoice_currency
total_open_amount
baseline_create_date
cust_payment_terms
invoice_id
isOpen

# **Checking for Duplicate Rows**

In [30]:
df.drop_duplicates(keep='first', inplace=True)
df.reset_index(drop=True, inplace=True)
df

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200040366,RASTEL co,2019-05-17,2019.0,2019-04-26,2019-05-01,2019-05-16,USD,2160.31,2019-05-01,NAA8,1.929212e+09,0
1,U001,0200707822,PUBLI us,2019-09-18,2019.0,2019-09-03,2019-09-03,2019-09-18,USD,111586.61,2019-09-03,NAA8,1.929821e+09,0
2,CA02,0140104409,LOB co,2019-11-22,2019.0,2019-11-11,2019-11-11,2019-11-21,CAD,65153.44,2019-11-11,CA10,2.960593e+09,0
3,U001,200390794,CASH-W corporation,NaT,2020.0,2020-05-06,2020-05-06,2020-05-21,USD,21634.82,2020-05-06,NAA8,1.930867e+09,1
4,U001,0200418007,AM corporation,NaT,2020.0,2020-04-20,2020-04-22,2020-06-26,USD,31.56,2020-04-22,NAGD,1.930805e+09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48755,U001,0200875006,KROGER associates,2019-04-26,2019.0,2019-04-12,2019-04-11,2019-04-26,USD,184407.56,2019-04-11,NAA8,1.929136e+09,0
48756,U001,0200769623,WAL-MAR foundation,2019-11-04,2019.0,2019-10-21,2019-10-24,2019-11-08,USD,16175.40,2019-10-24,NAH4,1.930037e+09,0
48757,U001,0200769623,WAL-MAR llc,NaT,2020.0,2020-04-20,2020-04-21,2020-05-06,USD,54791.03,2020-04-21,NAH4,1.930802e+09,1
48758,U001,0200759878,SA co,2019-03-11,2019.0,2019-02-22,2019-02-23,2019-03-10,USD,73799.96,2019-02-23,NAH4,1.928845e+09,0
48759,U001,0200865666,RESTAU corp,2019-03-20,2019.0,2019-03-05,2019-03-05,2019-03-20,USD,11895.36,2019-03-05,NAA8,1.928907e+09,0

# **Between document_create_date & document_create_date.1, we can drop one of them**

In [31]:
df.drop(columns=['document_create_date'],inplace=True)

# **Invoice Id is unique for each transaction and don't affect the sales, so we drop it**

In [32]:
df.drop(columns=['invoice_id'],inplace=True)

In [33]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,0200040366,RASTEL co,2019-05-17,2019.0,2019-05-01,2019-05-16,USD,2160.31,2019-05-01,NAA8,0
1,U001,0200707822,PUBLI us,2019-09-18,2019.0,2019-09-03,2019-09-18,USD,111586.61,2019-09-03,NAA8,0
2,CA02,0140104409,LOB co,2019-11-22,2019.0,2019-11-11,2019-11-21,CAD,65153.44,2019-11-11,CA10,0
3,U001,200390794,CASH-W corporation,NaT,2020.0,2020-05-06,2020-05-21,USD,21634.82,2020-05-06,NAA8,1
4,U001,0200418007,AM corporation,NaT,2020.0,2020-04-22,2020-06-26,USD,31.56,2020-04-22,NAGD,1

# **Target Variable**
# *Our Model can't Predict Dates so target column will not be clear_date.*
# *We will add delay column as target column where delay = due_in_date - clear_date*

In [34]:
df['delay']=(df['clear_date']-df['due_in_date']).dt.days

In [35]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,delay
0,U001,0200040366,RASTEL co,2019-05-17,2019.0,2019-05-01,2019-05-16,USD,2160.31,2019-05-01,NAA8,0,1.0
1,U001,0200707822,PUBLI us,2019-09-18,2019.0,2019-09-03,2019-09-18,USD,111586.61,2019-09-03,NAA8,0,0.0
2,CA02,0140104409,LOB co,2019-11-22,2019.0,2019-11-11,2019-11-21,CAD,65153.44,2019-11-11,CA10,0,1.0
3,U001,200390794,CASH-W corporation,NaT,2020.0,2020-05-06,2020-05-21,USD,21634.82,2020-05-06,NAA8,1,NaN
4,U001,0200418007,AM corporation,NaT,2020.0,2020-04-22,2020-06-26,USD,31.56,2020-04-22,NAGD,1,NaN

# **Sorting with respect to document_create_date.1**

In [36]:
df.sort_values(by='document_create_date.1',inplace=True)
df.reset_index(drop=True, inplace=True)

In [37]:
df

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,delay
0,U001,0200769623,WAL-MAR co,2019-01-09,2019.0,2018-12-30,2019-01-14,USD,11582.37,2018-12-30,NAH4,0,-5.0
1,U001,0200769623,WAL-MAR corp,2019-01-09,2019.0,2018-12-30,2019-01-14,USD,65968.36,2018-12-30,NAH4,0,-5.0
2,U001,0200769623,WAL-MAR trust,2019-01-09,2019.0,2018-12-30,2019-01-14,USD,985.41,2018-12-30,NAH4,0,-5.0
3,U001,0200726979,BJ'S systems,2019-01-15,2019.0,2018-12-30,2019-01-14,USD,131.10,2018-12-30,NAA8,0,1.0
4,U001,0200769623,WAL-MAR foundation,2019-01-10,2019.0,2018-12-30,2019-01-14,USD,2116.89,2018-12-30,NAH4,0,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48755,U001,0100036318,TFC associates,NaT,2020.0,2020-05-13,2020-05-23,USD,8064.00,2020-05-13,NA10,1,NaN
48756,U001,0200915438,GROC corp,NaT,2020.0,2020-05-18,2020-06-02,USD,9291.00,2020-05-18,NAA8,1,NaN
48757,U001,0200763229,MAINES llc,NaT,2020.0,2020-05-19,2020-06-03,USD,17544.11,2020-05-19,NAA8,1,NaN
48758,CA02,0140105785,SHOPPE in,NaT,2020.0,2020-05-19,2020-05-29,CAD,1373.60,2020-05-19,CA10,1,NaN
48759,U001,200956366,RICH systems,NaT,2020.0,2020-05-21,2020-06-05,USD,42360.00,2020-05-21,NAA8,1,NaN

# **Splitting - Creating test set on null clear_date**

In [41]:
testData = df[df.clear_date.isnull()].reset_index()
testData.drop(columns=['index'], inplace=True)
testData

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,delay
0,U001,0200769623,WAL-MAR in,NaT,2020.0,2020-02-27,2020-03-13,USD,63313.93,2020-02-27,NAH4,1,NaN
1,U001,0200763814,SYSCO F systems,NaT,2020.0,2020-02-27,2020-03-30,USD,49884.00,2020-02-27,NA32,1,NaN
2,U001,0200761734,H E BUT in,NaT,2020.0,2020-02-27,2020-03-13,USD,94461.58,2020-02-27,NAA8,1,NaN
3,U001,0200759878,SA systems,NaT,2020.0,2020-02-27,2020-03-13,USD,35147.50,2020-02-27,NAH4,1,NaN
4,U001,0200762301,C&S WH foundation,NaT,2020.0,2020-02-27,2020-03-13,USD,24145.01,2020-02-27,NAC6,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,U001,0100036318,TFC associates,NaT,2020.0,2020-05-13,2020-05-23,USD,8064.00,2020-05-13,NA10,1,NaN
9681,U001,0200915438,GROC corp,NaT,2020.0,2020-05-18,2020-06-02,USD,9291.00,2020-05-18,NAA8,1,NaN
9682,U001,0200763229,MAINES llc,NaT,2020.0,2020-05-19,2020-06-03,USD,17544.11,2020-05-19,NAA8,1,NaN
9683,CA02,0140105785,SHOPPE in,NaT,2020.0,2020-05-19,2020-05-29,CAD,1373.60,2020-05-19,CA10,1,NaN
9684,U001,200956366,RICH systems,NaT,2020.0,2020-05-21,2020-06-05,USD,42360.00,2020-05-21,NAA8,1,NaN

In [45]:
x_train = testData.iloc[:,0:12]
x_train

,business_code,cust_number,name_customer,clear_date,buisness_year,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,0200769623,WAL-MAR in,NaT,2020.0,2020-02-27,2020-03-13,USD,63313.93,2020-02-27,NAH4,1
1,U001,0200763814,SYSCO F systems,NaT,2020.0,2020-02-27,2020-03-30,USD,49884.00,2020-02-27,NA32,1
2,U001,0200761734,H E BUT in,NaT,2020.0,2020-02-27,2020-03-13,USD,94461.58,2020-02-27,NAA8,1
3,U001,0200759878,SA systems,NaT,2020.0,2020-02-27,2020-03-13,USD,35147.50,2020-02-27,NAH4,1
4,U001,0200762301,C&S WH foundation,NaT,2020.0,2020-02-27,2020-03-13,USD,24145.01,2020-02-27,NAC6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9680,U001,0100036318,TFC associates,NaT,2020.0,2020-05-13,2020-05-23,USD,8064.00,2020-05-13,NA10,1
9681,U001,0200915438,GROC corp,NaT,2020.0,2020-05-18,2020-06-02,USD,9291.00,2020-05-18,NAA8,1
9682,U001,0200763229,MAINES llc,NaT,2020.0,2020-05-19,2020-06-03,USD,17544.11,2020-05-19,NAA8,1
9683,CA02,0140105785,SHOPPE in,NaT,2020.0,2020-05-19,2020-05-29,CAD,1373.60,2020-05-19,CA10,1
9684,U001,200956366,RICH systems,NaT,2020.0,2020-05-21,2020-06-05,USD,42360.00,2020-05-21,NAA8,1

In [46]:
y_train = testData.iloc[:,-1]
y_train

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9680   NaN
9681   NaN
9682   NaN
9683   NaN
9684   NaN
Name: delay, Length: 9685, dtype: float64